@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family:     Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: Roboto-Lightitalic;
	src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
	font-family: Roboto-Black;
	src: url(../fonts/Roboto-Black.ttf);
}
.clear{
	clear:both;
}
/* = = = = = = = = HEADER START = = = = = = = = */

.headerTop{
	padding: 5px 0;
	background: #252b32;
	width: 100%;
	height: 4.5em;
}

.headerNav{
	padding-left:5px;
	background:#fff;
	width: 100%;
}
.headerLogoText{
	text-decoration: none;
	font-family: Roboto-Medium;
	color:#fff;
}
.headerLogoText:hover{
	text-decoration: none;
	color:#fff;
}
.btnAll {
	position: relative;
	border-radius: 5px 0 0 5px;
	right: -7px;
	top: 0;
	width: 86px;
	background: #f1f1f1;
}
.input-append{
	position: relative;
	padding:9px 0;
}
.search-query{
	width:430px !important;

}

.searchbtn{
	background: #dbe0e7;
	display: block;
	width: 37px;
	height: 34px;
	position: absolute;
	top: 9px;
	right: 112px;
	z-index: 1000;
}
.headerLang{
	color:#adb5bc;
	padding-left: 35%;
}
.line{
	color: #adb5bc !important;
	padding: 0 5px;
}
.headerTopBlock p{
	color:#fff;
	padding-left: 30%;
}
.headerTopBlock{

}
.headerTopBlock span{
	color:#57b1eb;
}
.langFlag{
	width: 25px;
	height: 16px;
	display: inline-block;
	background: url(../images/flag.png);
	background-repeat: no-repeat;
}
.langCaretDown{
	color:#fff !important;
}
.navPoint {
	font-family: Roboto-Regular;
	padding: 1.5% 0;
	text-align: center;
}
.navPointLast{
	font-family: Roboto-Regular;
	padding: 1.5% 0;
	text-align: center;
}
.navPoint:after{
	content: "|";
	margin-left:15px;
	color:#d6d9da;
	position: absolute;
}
.fa-chevron-down{
	color:#999fa6;
}
.homeHouse{
	color: #a3afbf;
	font-size: 18px;
	margin-right:4px;
}
.cartShop{
	padding-right:10px;
}
.navbar{
	margin-bottom:0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background: #3b73b9 !important;
	color:#fff;
}
.navbar-nav>li>.dropdown-menu{
	background: #3b73b9 !important;
	color:#fff;
}
.dropdown-menu>li>a{
	color: #fff !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: #729acc;
}
nav{
	border: none !important;
	background: #fff !important;
}
.navMenu{
	padding:0;
}
.navbar-collapse{
	padding:0 !important;
}
/* = = = = = HEADER FINISH = = = = = = = = */

/* = = = = = = = = CONTENT START = = = = = = = = */
.content{
    background: #f9f9f9;
	height:700px;
}
.contentAlert{
	position:relative;
	padding: 0;
	width: 23%;
	height: 450px;
	background: #fff;
	margin-left: 0px;
	box-shadow: inset 0px 0px 4px #e2e2e2, 2px 2px 3px #e2e2e2;
}
.scrollArrowDown {
	content: "\f0d7";
	position: absolute;
	right: 2px;
	bottom: 1px;
	font-size: 19px;
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	height:30px;
}

::-webkit-scrollbar-thumb {
	background: #a3afbf;
	height:30px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.scrollArrowTop{
	position: absolute;
	right: 2px;
	top: 2px;
	font-size: 19px;
}
.articlesBlock{
	margin-top:20px;
	height: 410px;
	overflow-y:scroll;
}
.scrollOrders{
	margin-top:20px;
	height: 410px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.articlesBlock h3{
	margin:0;
	padding-left: 7%;
	font-family: Roboto-Medium;
	font-size:18px;
}
.articlesBlock hr{
	width:86%;
}
.articlesBlock p{
	color:#858d97;
	font-family: Roboto-Regular;
	padding: 7%;
	font-size: 12px;
}
.articlesBlock p span{
	font-family: Roboto-Bold;
	font-weight:600;
	font-size: 13px;
}
.articlesBlock p span:hover{
	color:#ff0000;
}
.contentLookUp{
	width:22%;
	padding:0;
	height:450px;
	background: #fff;
	margin-left: 20px;
	box-shadow: inset 0px 0px 4px #e2e2e2, 2px 2px 3px #e2e2e2;
}
.formLookup{
	padding: 4%;
}
.formLookup input{
	width:100%;
	height:2em;
	border:1px solid #ccc;
}
.formLabel{
	margin-top:20px;
}
.quantityInput{
	width:50% !important;
}
.contentLookUp h3{
	padding-left: 4%;
	font-family: Roboto-Medium;
	font-size:18px;
}
.contentLookUp hr{
	width:90%;
}
.lookupButton{
	margin-top:20px;
	margin-left:1px;
	width:99%;
	height:2em;
	line-height:13px;
}
.contentOrders{
	width:51%;
	padding:0;
	height:450px;
	background: #fff;
	margin-left: 20px;
	box-shadow: inset 0px 0px 4px #e2e2e2, 2px 2px 3px #e2e2e2;
}
.status h6{
	text-align: center;
	font-family: Roboto-Black;
	font-size: 16px;
}
.btn-group{
	position: relative;
}
.btn-group:hover{
	background: #fff;
}
.buttonLargeLookUp:hover{
	background: transparent;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background: transparent;
}
.dropDownMenu{
	width:100%;

}
.buttonLargeLookUp{
	width: 17em;
	height: 3em;
	text-align:left;
	color:#6d96c9;
}
.buttonSmallLookUp{
	position:absolute !important;
	right: 2px;
	top: 4px;
	background: #fff;
	border-left: 1px solid #ccc !important;
	display: block;
}
.status p:nth-child(even){
	background: #ccc;
}
.status p{
	line-height: 41px;
	color: #878787;
	margin: 0;
	padding: 0px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}
.status a{
	text-decoration: none;
	color: #878787;
}
.status{
	padding:0;
}
.userWelcome{
	padding:19px 0px;
	font-size: 36px;
	color: #a3afbf;
	font-family: Roboto-Regular;
}
.sectionsDashboard{
	padding:0;
}
.tabContent{

	margin-top:-5px;
	text-align: center;
	font-size:18px;
	font-family: Roboto-Medium;
}
.tabContent a{
	text-decoration: none;
	color:#000;
}

 .orderHistory{
	 position: relative;
	 left: 450px;
	 top: 13px;
	 margin: -12px 0 0 0;
	 width: 130px;
}

.contentTabBlock{
	padding-top: 22px;
}
.tabContentText{
	padding: 22px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	width: 11em;
	margin: 0;
	padding: 10px 0px;
	color:#000;
}
.nav-tabs>li>a{
	width: 11em;
	margin: -3px;
	padding: 10px 0px;
	color:#ccc;
}
/* = = = = = = = = CONTENT FINISH = = = = = = = = */


/* = = = = = = = = FOOTER START = = = = = = = = */

footer{
	height:100%;
	background:#e6e6e6;
	width: 100%;
	padding:30px;
}
.footerNav{
	width:19%;
	padding:0;
	border-left:1px solid #ccc;
	height:170px;
}
.footer__copyright{
	width:24%;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	height:170px;
}
.footerNav p{
	font-family: Roboto-Bold;
	font-weight: 600;
	color:#000;
}
.footerNav a{
	font-family: Roboto-Regular;
	display: inline-block;
	color:#8e8f90;
	cursor: pointer;
}
.footerCol {
	margin:0 auto;
	width: 72%;
}
.footer-logo{
	margin:0 auto;
	width: 72%;
}
.copyright{
	color:#b7b7b7;
	text-align: center;
	margin:0 auto;
	width: 72%;
}
.footer__copyright p{
	padding: 16px 0;
	color: #878787;
    text-transform: uppercase;
	font-family: Roboto-Medium;
	font-weight: 100;
    font-size:14px;
	text-align:center;
}
/* = = = = = = = = FOOTER FINISH = = = = = = = = */

/* = = = = = = = = popup START = = = = = = = = */

.main{
	width:100%;
	height:50em;
	background: #000;
	opacity: 0.9;
}
.pop-up{
	position: relative;
	max-width: 520px;
	height:350px;
	padding: 19px 29px 29px;
	margin: 5% auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.pop-up h3{
	font-family: Roboto-Medium;
	font-size:18px;
}
.pop-up p{
	font-family: Roboto-Lightitalic;
	font-size:14px;
}
.checkbox{

}
.checkBoxLeft{
	padding-left:4%;
	width:45%;
	float:left;
}
.checkBoxRight{
	width:50%;
	float:right;
}
.pop-up label{
	font-family: Roboto-Regular;
	font-size:14px;
	display: inline;
}
.pop-up label{
	padding-left:10px;
	display: inline;
}
.checkboxBlock{
	padding:2% 0;
}
.popupButton{
	margin-left: 4% ;
	margin-top:23px;
	height: 43px;
	width: 185px;
}
.pop-up a{
	position: absolute;
	right: 16px;
	top: 8px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #ccc;
	display: block;
}
.closeButton{
	position: absolute;
	left: 7px;
	top: -5px;
	font-size:40px;
}
/* = = = = = = = = popup FINISH = = = = = = = = */