@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf) format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
	font-weight: normal;
}
@font-face {
	font-family:     Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: Roboto-Lightitalic;
	src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: Roboto-Black;
	src: url(../fonts/Roboto-Black.ttf) format('truetype');
	font-weight: normal;
}
.clear{
	clear:both;
}
.row{
	margin:0;
	padding: 0;
}
.container{
	padding: 0;
}
.container-fluid{
	padding: 0;
}
/* = = = = = = = = media md START = = = = = = = = */
@media screen and (min-width: 1170px) and (max-width: 1200px)  {

	.navbar-nav > li {
		margin-left: 0px !important;
	}
	.input-append label{
		font-size:13px !important;
	}
	.contentOrders{
		width:34.5em !important;
		margin-left: 5px !important;
	}
	.contentLookUp{
		width:17em !important;
		margin-left: 5px !important;
	}
	.contentAlert{
		width:17em !important;
	}

    .tabContent{
		font-size:13px !important;
	}
	.status h6{
		font-size:11px !important;
	}
	.footerNav a{
		font-size:10px !important;
	}
	.footerNavLast a{
		font-size:10px !important;
	}
}


/* = = = = = = = = media md FINISH = = = = = = = = */
/* = = = = = = = = media md START = = = = = = = = */
@media screen and (min-width: 996px) and (max-width: 1169px)  {

	.navbar-nav > li {
		margin-left: 0px !important;
	}
	.input-append label{
		font-size:13px !important;
	}
	.contentOrders{
		width:31em !important;
		margin-left: 5px !important;
	}
	.contentLookUp{
		width:17em !important;
		margin-left: 5px !important;
	}
	.contentAlert{
		width:17em !important;
	}
	.footerNav a{
		font-size:10px !important;
	}
	.footerNavLast a{
		font-size:10px !important;
	}
	.input-append label{
		padding-top:0 !important;
	}
	.search-query{
		width:80% !important;
	}
	.searchbtn{
		right: 0.8em !important;
	}
}


/* = = = = = = = = media md FINISH = = = = = = = = */
/* = = = = = = = = media SMALL START = = = = = = = = */
@media screen and (min-width: 768px) and (max-width: 995px)  {

	.navbar-right li{
		padding: 0 !important;
		right: -15em !important;
		top:-6em !important;
	}
	.content{
		height:85em !important;
	}
	.footerNav{
		width:32.5% !important;
	}
	.footerNavLast{
		width:32.5% !important;
		border-left:none !important;
	}
	.footer__copyright{
		float: right;
		width: 38% !important;
		border: none !important;
	}
	.input-append label{
		padding-top:0 !important;
	}
	.search-query{
		width:80% !important;
	}
	.searchbtn{
		right: 0em !important;
	}
	.input-append label{
		font-size:13px !important;
	}

}


/* = = = = = = = = media SMALL FINISH = = = = = = = = */

/* = = = = = = = = media EXTRA_SMALL START = = = = = = = = */
@media screen and (min-width: 468px) and (max-width: 767px)  {
	body{
		display: none;
	}

}

/* = = = = = = = = media EXTRA-SMALL FINISH = = = = = = = = */

/* = = = = = = = = media EXTRA_SMALL START = = = = = = = = */
@media screen and (max-width: 467px)  {
	body{
		display: none;
	}

}


/* = = = = = = = = media EXTRA-SMALL FINISH = = = = = = = = */
/* = = = = = = = = HEADER START = = = = = = = = */

.headerTop{
	padding: 5px 0;
	background: #252b32;
	width: 100%;
	height: 4.5em;
}

.headerNav{
	padding-left:5px;
	background:#fff;
	width: 100%;
}
.headerLogo{
	padding-right: 5px;
}
.headerLogoText{
	font-size:20px;
	text-decoration: none;
	font-family: Roboto-Regular;
	color:#fff;
}
.headerLogoText:hover{
	text-decoration: none;
	color:#fff;
}
.btnAll {
	position: relative;
	border-radius: 5px 0 0 5px;
	right: -7px;
	top: 0;
	width: 86px;
	background: #f1f1f1;
}
.headerTopBlockSearch{
	position: reletive;
	left:-19px;
	padding:0;
}
.input-append{
	padding: 0.6em 0 0.6em 0em;
}
.input-append label{
	padding-top:6px;
	color:#b5bbbc !important;
	font-family: Roboto-Regular;
	font-weight: 100;
	font-size:16px;
	float:left;
	width:22%;
	color:#fff;
}
.search-query{
	color:#b5bbbc;
	width: 71% !important;
	font-size: 14px;
	font-family: Roboto-Regular;

}
.search-query::-webkit-input-placeholder {
	color:#b5bbbc;
	font-size: 14px;
	font-family: Roboto-Regular;

}
.search-query::-moz-placeholder {
	color: #b5bbbc;
	font-size: 14px;
	font-family: Roboto-Regular;
}
.search-query:-moz-placeholder          {
	color: #b5bbbc;
	font-size: 14px;
	font-family: Roboto-Regular;
}
.search-query:-ms-input-placeholder      {
	color: #b5bbbc;
	font-size: 14px;
	font-family: Roboto-Regular;
}

.searchbtn{
	background: #dbe0e7;
	z-index: 10;
	position: absolute;
	top: 8px;
	height: 34px;
	width: 34px;
	right: 2.8em;
	border: none;
	border-radius: 0 5px 5px 0;
}
.searchbtnIcon{
	font-size:20px;
	color:#484d53;
}
.headerLang{
	color:#adb5bc;
	position: absolute;
	right: -5px;
	font-size:12px;
	font-family: Roboto-Regular;
}
.line{
	color: #adb5bc !important;
	padding: 0 13px;
}
.navbar-nav.navbar-right:last-child{
	margin-right: -10px;
}
.headerTopBlock{
	margin-top:3px;
}
.headerTopBlockLang p{
	color:#fff;
	position: absolute;
	right: -5px;
	top:21px;
	font-size:14px;
	font-family: Roboto-Regular;
}
.headerTopBlockLang{
	position: relative;
    padding-top:2px;
}
.headerTopBlockLang span{
	color:#57b1eb;
	font-size:14px;
	font-family: Roboto-Regular;
}
.langFlag{
	width: 25px;
	height: 16px;
	display: inline-block;
	background: url(../images/flag.png);
	background-repeat: no-repeat;
}
.langCaretDown{
	color:#fff !important;
	margin-left:14px;
}
.navPoint {
	font-family: Roboto-Regular;
	padding: 1.5% 0;
	text-align: center;
}
.navPointLast{
	font-family: Roboto-Regular;
	padding: 1.5% 0;
	text-align: center;
}
.navLine:after{
	content: "|";
	color: #d6d9da;
	position: absolute;
	right: -6px;
	top: 1.3em;

}
.fa-chevron-down{
	color:#999fa6;
}
.homeHouse{
	color: #a3afbf;
	font-size: 18px;
	left: -28px;
	margin-right: -16px;
	position: relative;
}
.cartShop{
	padding-right:10px;
}
.navbar{
	margin-bottom:0;
}
.navbar-right li{
	letter-spacing: 1px;
	font-size:14px;
	font-family: Roboto-Regular;
	padding: 17px 0;
	position: relative;
	right: -29px;
	width: 7em;
}
.navbar-right li img{
	margin-left: -7px;
	margin-top: -10px;
}
.navbar-right li span{
	margin-left: -2px;
	font-size: 13px;
	font-family: Roboto-Bold;
	font-weight: 600;
}
.navbar-right li{
	margin-left: 3px;
	font-size:13px;
	font-family:Roboto-Medium;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background: #3b73b9 !important;
	color:#fff;
}
.navbar-nav>li>.dropdown-menu{
	background: #3b73b9 !important;
	color:#fff;
	width:13.5em;
	height:6em;
}
.navbar-nav>li>a{
	padding-top:17px;
	font-size: 13px;
	font-family: Roboto-Regular;
}
.navbar-nav > li{
	margin-left:9px;
}
.dropdown-menu>li>a{
	color: #fff !important;
	font-size:14px;
	font-family: Roboto-Regular;
	line-height:30px;

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background: #729acc;
}
nav{
	border: none !important;
	background: #fff !important;
}
.navMenu{
	padding:0;
}
.navbar-collapse{
	padding:0 !important;
}
.navbar-default .navbar-nav>li>a{
	color:#212427;
}
/* = = = = = HEADER FINISH = = = = = = = = */

/* = = = = = = = = CONTENT START = = = = = = = = */
.content{
    background: #f9f9f9;
	height:55em;
}
.contentDashboard{
	margin-left:10px;
	padding: 0;
}
.contentAlert{
	height: 485px;
	margin-top: 12px;
	padding: 0;
	position: relative;
	width: 21em;
	background: #fff;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	height:30px;
}

::-webkit-scrollbar-thumb {
	background: #a3afbf;
	height:30px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.scrollArrowTop{
	position: absolute;
	right: 7px;
	top: 2px;
	font-size: 19px;
}
.scrollArrowDown {
	position: absolute;
	right: 6px;
	bottom: 1px;
	font-size: 19px;
}
.articlesBlock{
	margin-top:20px;
	margin-right:6px;
	height: 440px;
	overflow-y:scroll;
}
.scrollOrders{
	margin-top:20px;
	margin-right:6px;
	height: 440px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.articlesBlock h3{
	margin:0;
	padding-left: 8%;
	font-family: Roboto-Medium;
	font-size:18px;
}
.articlesBlock hr{
	width:86%;
	border:none;
}
.articlesBlock p{
	color:#858d97;
	font-family: Roboto-Regular;
	padding: 0 1em 0em 2em;
	font-size: 12px;
}
.articlesBlock p span{
	color:#000;
	font-family: Roboto-Bold;
	font-weight:600;
	font-size: 13px;
}
.articlesBlock p span:hover{
	color:#ff0000;
}
.contentLookUp{
	margin-top: 12px;
	position:relative;
	width:20.5em;
	padding:0;
	height:485px;
	background: #fff;
	margin-left: 25px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.lineModule{
	margin:1.1em 1em;
	height: 1px;
	width:80%;
	border:none;
	background: #a3afbf;
}
.formLookup{
	padding: 2% 7% 4% 9%;
}
.formLookup input{
	width:100%;
	height:2em;
	border:1px solid #ccc;
}
.formLabel{
	margin-top:29px;
}
.quantityInput{
	width:50% !important;
}
.contentLookUp h3{
	padding-left: 9%;
	font-family: Roboto-Medium;
	font-size:18px;
}
.contentLookUp hr{
	width:90%;
}
.lookupButton{
	margin-top:24px;
	margin-left:0px;
	width:99%;
	height:2em;
	line-height:13px;
}
.contentOrders{
	position: relative;
	margin-top: 12px;
	width: 38.85em;
	padding: 0px;
	height: 485px;
	background: #fff;
	margin-left: 20px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}


.btn-group{
	position: relative;
}
.btn-group:hover{
	background: #fff;
}
.buttonLargeLookUp:hover{
	background: transparent;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	background: transparent;
}
.dropDownMenu{
	width:100%;

}
.buttonLargeLookUp{
	width: 17.1em;
	height: 3em;
	text-align:left;
	color:#6d96c9;
}
.buttonSmallLookUp{
	position:absolute !important;
	right: 2px;
	top: 4px;
	background: #fff;
	border-left: 1px solid #ccc !important;
	display: block;
}
.status p:nth-child(even){
	background: #f2f4f6;
}
.status p{
	font-family: Roboto-Regular;
	font-size: 12px;
	line-height: 41px;
	color: #878787;
	margin: 0;
	padding: 0px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}
.status a{
	text-decoration: none;
	color: #878787;
}
.status{
	padding:0;
}
.userWelcome{
	color: #a3afbf;
	font-family: Roboto-Regular;
	font-size: 30px;
	padding: 1.75em 0 0 0.4em;
}
.sectionsDashboard{
	padding:0;
}
.tabContent{
	font-size:18px;
	font-family: Roboto-Medium;
}
.tabContent a{
	text-decoration: none;
	color:#000;
}

 .orderHistory{
	 left: 386px;
	 position: relative;
	 top: -49px;
	 width: 130px;
	 font-size:12px;
	 font-family: Roboto-Regular;
}
.tab-content{
	margin-top:-44px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#000;
	border:none;
}
.first:after{
	content:"|";
	color:#ccc;
	position: absolute;
	right:0;
	top:0.5em;
}
.second:after{
	content:"|";
	color:#ccc;
	position: absolute;
	right:0;
	top:0.5em;
}
.lineModuleOrders{
	position: relative;
	top: -32px;
	width: 94%;
	z-index: 999;
	background: #a3afbf;
	height: 1px;
	border: none;
}
.nav-tabs>li>a{
	color:#ccc;
}
.nav-tabs{
	position: relative;
	top: -15px;
	border:none;
}
.contentTabBlock table thead th {
	font-family: Roboto-Black;
	font-size: 13px;
}
.contentTabBlock table thead th,
.contentTabBlock table tbody td {
	border: 0;
	height: 35px;
	vertical-align: baseline;
}
.contentTabBlock table tbody td a,
.contentTabBlock table tbody td {
	color: #858d97;
	font-family: Roboto-Regular;
	font-size: 12px;
}
.contentTabBlock table tbody tr:nth-child(odd) {
	background-color: #f2f4f6;
}
/* = = = = = = = = CONTENT FINISH = = = = = = = = */


/* = = = = = = = = FOOTER START = = = = = = = = */

footer{
	height:100%;
	background:#e6e6e6;
	width: 100%;

}
.footerContainer{
	padding:1.5em 0;
}
.footerNav{
	width:19.5%;
	padding:0;
	border-left:1px solid #ccc;
	height:170px;
}
.footerNavLast{
	width:20.5%;
	padding:0;
	border-left:1px solid #ccc;
	height:170px;
}
.footer__copyright{
	width:21%;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	height:170px;
	position: relative;
	right: -1em;
}
.footerNav p{
	font-family: Roboto-Bold;
	color:#000;
}
.footerNav a{
	font-family: Roboto-Regular;
	font-size:13px;
	display: inline-block;
	color:#8e8f90;
	cursor: pointer;
}
.footerNavLast p{
	font-family: Roboto-Bold;
	color:#000;
}
.footerNavLast a{
	font-family: Roboto-Regular;
	font-size:13px;
	display: inline-block;
	color:#8e8f90;
	cursor: pointer;
}
.footerCol {
	margin:0 auto;
	width: 65%;
}
.footer-logo{
	margin:0 auto;
	width: 72%;
}
.copyright{
	color:#b7b7b7;
	text-align: center;
	margin:0 auto;
	width: 77%;
	font-size:13px;
}
.footer__copyright p{
	padding: 16px 0;
	color: #878787;
    text-transform: uppercase;
	font-family: Roboto-Medium;
	font-weight: 100;
    font-size:14px;
	text-align:center;
}
/* = = = = = = = = FOOTER FINISH = = = = = = = = */

/* = = = = = = = = popup START = = = = = = = = */

.main{
	width:100%;
	height:50em;
	background: #000;
	opacity: 0.9;
}
.pop-up{
	position: relative;
	max-width: 520px;
	height:350px;
	padding: 19px 29px 29px;
	margin: 5% auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.pop-up h3{
	font-family: Roboto-Medium;
	font-size:18px;
}
.pop-up p{
	font-family: Roboto-Lightitalic;
	font-size:14px;
}
.checkbox{

}
.checkBoxLeft{
	padding-left:4%;
	width:48%;
	float:left;
}
.checkBoxRight{
	width:50%;
	float:right;
}

.pop-up input {
	display: none;
}
.pop-up label {
	font-family: Roboto-Regular;
	font-size:14px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 45px;
	margin-right: 0;
	margin-bottom: 10px;
	font-weight: normal;
	color: #505357;
}
.pop-up label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin-right: 10px;
	position: absolute;
	left: 18px;
	background-color: #fff;
	border: 1px solid #d0d5dc;
}
.pop-up input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 16px;
	color: #3b73b9;
	text-align: center;
	line-height: 16px;
	font-weight: bold;

}
.popupButton{
	margin-left: 8% ;
	margin-top:23px;
	height: 43px;
	width: 185px;
}
.pop-up a{
	position: absolute;
	right: 16px;
	top: 8px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #ccc;
	display: block;
}
.closeButton{
	position: absolute;
	left: 7px;
	top: -5px;
	font-size:40px;
}
/* = = = = = = = = popup FINISH = = = = = = = = */

